/*common*/

html,body{height:100%;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, address, big, cite, code, del, dfn, em, font, img, ins,q, s, samp, small, strike, 
strong, sub, sup, tt, var, b,u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: none 0; }
body{background:#fff;}
html, body { width:100%; height:100%;}
body, input, button, textarea,table, td { font-size:12px; font-family:'Nanum Gothic', 'Lato', sans-serif, Verdana, "돋움", Dotum, Helvetica, AppleGothic; color:#444;}
h1, h2, h3, h4, h5, h6 {font-size:12px; text-align:left;}
img, fieldset, iframe {border:0 none;}
table, div {border-collapse: collapse;}
address, caption, cite, code, dfn, em, strong, th, var { font-style : normal; font-weight : normal; }
ul, li, ol { list-style-type: none;}
ul{font-size:0px;}
legend,  caption { display: none; }
hr { border-collapse:collapse; display:none; }
strong{font-weight:bold;}
img{border:0;}
a { 
	color: #555;
	text-decoration: none;
	outline: none;
  }

  /*table*/

table {width:100%; max-width: 650px; min-height:1720px; margin: 0 auto;}
tr {display: block; width: 650px; min-height: 30px; margin-bottom: 50px; padding-bottom:50px; border-bottom: 1px solid #ddd;}
td {display: block;overflow:}
.contitle {display: block; width: 650px; min-height: 40px; padding-bottom: 10px; font-size: 20px; font-weight: 800; text-align: center;}
.contents_txt {display: block; width: 650px; min-height: 50px; padding-bottom: 30px; font-size: 16px; font-weight: 600; text-align: center;}
.contents_txt span {color:#16c4be; font-weight: 800;}

.email_head {width: 650px; height: 160px; line-height: 160px; padding-bottom: 0 ;background-image:url("img/head_bg.gif");border-bottom: 1px solid #ddd; }
.email_head td {font-size: 0; text-align: center;}
.email_head td img {text-align: center; vertical-align:middle; }

.email_welcome {display: block; margin-bottom: 50px; padding-bottom:20px;}

.email_application {border: 0; display: block; padding-bottom: 50px; margin: 0; }

.email_footer {display:block;margin:0; padding:0; width: 650px; height:155px; line-height:160px; background-image:url("img/footer_bg.gif");}
.email_footer td {padding-top:25px; display:block; width: 650px; height: 50px; line-height: 50px;}

.email_footer td + td {display: block;  margin:0; padding:0; text-align: center; width:650px; height: 30px; line-height: 30px;}
.email_footer td + td a{display: inline-block; width: 20px; height: 20px; margin-left: 10px; margin-right: 10px; margin-top: 5px;}

.email_footer td + td img {width:20px; margin:0;}
.email_footer td + td + td { margin:0; padding:0; text-align: center; font-size: 12px; color:#fff; width:650px; height: 20px; border: 0;}

.email_tail {display: block; width: 650px; height:40px; line-height:40px; padding: 0; margin: 0; }
.email_tail td {text-align: center; font-size: 12px; color:#003663;padding: 0; margin: 0;}

/*Button*/
a.b_btn {margin:0 auto; display: block; width:170px; height: 40px; line-height: 40px; border-radius: 20px;  border: 1px solid #003663; text-align: center; font-size: 12px; font-weight: 800; color:#003663;}
a.b_btn:hover {color:#fff;background-color: #003663;}
a.b_btn:active {color:#fff;background-color: #003663;}

.email_footer td a.d_btn {margin:0 auto; display: block; width:170px; height: 40px; line-height: 40px; border-radius: 20px;  border: 1px solid #fff; text-align: center; font-size: 12px; font-weight: 800; color:#fff;}
.email_footer td a.d_btn:hover {color:#003663;background-color: #fff;}
.email_footer td a.d_btn:active {color:#003663;background-color: #fff;}